.sideDrawer {
  /* composes: offWhiteBG from '../../colours.css'; */
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 8%;
  box-sizing: border-box;
  transition: transform 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .sideDrawer {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.logo, .logo img {
  width: 100%
}
